<%= render "nav" %>

<div class="top_image">
    <!--本番環境では画像が表示されなかった-->
    <!--<img src="/assets/top_run.jpg">-->
    <%= image_tag("top_run.jpg") %>
    <p>Twitter Clone</p>
</div>

<%= render "footer" %>
